@{
    ViewBag.Title = "Замовлення опрацьовано";
}
<div style="background-color:azure">
    <h2>Дякуємо!</h2>
    <p>Спасибі за замовлення.Напротязі години з вами звяжуться для підтвердження замовлення.</p>
</div>